workflows/4__Update_HubSpot_Contacts_with_role.json
{
  "updatedAt": "2026-01-06T00:04:04.204Z",
  "createdAt": "2026-01-06T00:04:04.204Z",
  "id": "RoCsKpuJhQ1tcctb-mlP-",
  "name": "4. Update HubSpot Contacts with role",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1424,
        48
      ],
      "id": "4bc02a4a-0e38-4093-8a60-49cd27ffc92f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1008,
        48
      ],
      "id": "3fbe1fc5-bfca-4f87-83e0-1e0444c88341",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        96
      ],
      "id": "23bd15f4-92c4-4dd0-ba6f-a02ad57cc0c3",
      "name": "Wait 200 ms",
      "webhookId": "a34ac2ee-4920-401d-9beb-ca70e9cbbf89"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.crm_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {{ JSON.stringify($json.contact_fields) }}\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -752,
        144
      ],
      "id": "4da8d180-8857-4603-9005-64f434b84d8a",
      "name": "Upload fields to contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "19rgyrjHjOQOxSNo",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outbound_crm_updates SET upload_attempts = upload_attempts + 1, last_status_code = $2, uploaded_at = NOW() WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.update_id, $json.statusCode] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        192
      ],
      "id": "a21d563c-73d7-48d6-96a4-a40753b6ef66",
      "name": "Set uploaded_at date",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "BXJacUuclptZ8lHU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ou.id as update_id, ct.crm_id, ou.contact_fields, ou.inserted_at FROM outbound_crm_updates AS ou LEFT JOIN contacts AS ct ON ou.contact_id = ct.id WHERE uploaded_at IS NULL ORDER BY ou.inserted_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1216,
        48
      ],
      "id": "56341794-29cb-4459-a623-4916ae0e5f1e",
      "name": "Get contact fields to upload",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "BXJacUuclptZ8lHU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94491cc5-bb22-44d8-9dda-50843435f25f",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 299,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        80
      ],
      "id": "e78d5fdb-10fd-4442-8f1f-aa382dfa896b",
      "name": "If error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE outbound_crm_updates SET upload_attempts = upload_attempts + 1, last_status_code = $2, last_error = $3 WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.update_id, $json.statusCode, $json.body] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "d99fea2c-eb19-4744-aa83-802e6395b38f",
      "name": "Set last_error",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "BXJacUuclptZ8lHU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -544,
        80
      ],
      "id": "2bdc1de9-e170-487a-a377-f0fdb1c9e200",
      "name": "Merge"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get contact fields to upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Upload fields to contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 200 ms": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload fields to contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get contact fields to upload": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set uploaded_at date": {
      "main": [
        [
          {
            "node": "Wait 200 ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error": {
      "main": [
        [
          {
            "node": "Set last_error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set uploaded_at date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last_error": {
      "main": [
        [
          {
            "node": "Wait 200 ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8c07f31e-c539-4546-a527-a97bef1c9084",
  "activeVersionId": "8c07f31e-c539-4546-a527-a97bef1c9084",
  "versionCounter": 4,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-06T00:04:04.208Z",
      "createdAt": "2026-01-06T00:04:04.208Z",
      "role": "workflow:owner",
      "workflowId": "RoCsKpuJhQ1tcctb-mlP-",
      "projectId": "HbDRwYWNz9gHlL39",
      "project": {
        "updatedAt": "2026-01-06T00:02:06.543Z",
        "createdAt": "2026-01-06T00:01:48.834Z",
        "id": "HbDRwYWNz9gHlL39",
        "name": "First Last <test@example.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "352b51df-4987-4bf5-9076-d287a2629321"
      }
    }
  ]
}